*.pdb
*.log
*.suo
*.pdb
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config
*.nupkg
*.diff

[dD]ebug
[rR]elease
[cC]heckin
[bB]in/*
[bB]in/Addins/Sungero/*
![bB]in/data/
[bB]in/Addins/
![bB]in/bin/
[bB]in/bin/*
![bB]in/bin/Tools/
![bB]in/bin/GraphVizTool/
![bB]in/bin/Aga.Controls.dll
![bB]in/bin/AvalonDock.dll
![bB]in/bin/GraphSharp*.dll
![bB]in/bin/ICSharpCode.*
![bB]in/bin/log4net.dll
![bB]in/bin/Microsoft.Contracts.dll
![bB]in/bin/Mono.Cecil.dll
![bB]in/bin/QuickGraph.dll
![bB]in/bin/SharpDevelop*.targets
![bB]in/bin/WPFExtensions.dll

obj
log
.idea
.vs
